/* Login modal: */
.loginmdlfrm {
    margin-bottom: 10px;
}
.c {
    float: right;
    margin-right: 10px;
    display: none;
}

.usercard {
    text-decoration: none;
    color: black;
}

.usercard:hover {
    text-decoration: none;
    color: black;
}