/* Login modal: */
.loginmdlfrm {
    margin-bottom: 10px;
}
.c {
    float: right;
    margin-right: 10px;
    display: none;
}

.usercard {
    text-decoration: none;
    color: black;
}

.usercard:hover {
    text-decoration: none;
    color: black;
}
.infopos {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.userdelete {
    /* margin-top: 100px; */
    /* display: flex;
    justify-content: center; */
    text-align: center;
    /* align-items: center; */
    width: 10em;
    height: 2.5em;
}
