.c {
    float: right;
    margin-right: 10px;
    display: none;
}

.usercard {
    text-decoration: none;
    color: black;
}

.usercard:hover {
    text-decoration: none;
    color: black;
}

.infopos{
    margin-top: 100px;
    margin-left: 100px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}